form.new__schedule {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    gap: var(--size-base);
}

form.new__schedule .section__h1 {
    margin: 0;
}

.create-btn {
    align-self: end;
    margin-top: .4rem;
}

.create-btn.unavailable {
    text-align: center;
    cursor: default;
    filter: opacity(0.25);
    user-select: none;
}

form.new__schedule select option{
    background-color: var(--clr-white);
}

form.new__schedule input, form.new__schedule select{
    height: 40px;
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid rgb(35, 39, 42, 0.25);
}

.generalInputs__wrapper {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--size-base);
}

.blank {
    display: none;
}

.lessonInputs__wrapper {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--size-base);
}

.lessonInput__wrapper {
    border: 1px solid var(--clr-red);
    padding: 8px;
    border-radius: 5px;
    background-color: var(--clr-red);
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.lessonInput__title {
    color: var(--clr-bg);
    padding-left: 12px;
    padding-right: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.lessonInput__info {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.lessonInput__wrapper input, .lessonInput__wrapper select {
    background-color: var(--clr-blue-light);
    color: var(--clr-white);
    border: none;
}

.lessonInput__wrapper input::placeholder {
    color: rgb(122, 122, 188);
    opacity: 1;
}

.lessonInput__wrapper select option {
    padding: 20px;
    color: black;
}

@media (min-width:425px) {
    
}

@media (min-width:768px) {
    .generalInputs__wrapper {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .blank {
        display: none;
    }
    .lessonInputs__wrapper {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (min-width:1024px) {
    
}

@media (min-width:1280px) {

}

@media (min-width:1440px) {
    
}