/* #region header general */

header.container {
  height: 60px;
  position: relative;
  display: flex;
  z-index: 10;
  justify-content: space-between;
  padding-top: var(--size-2xl);
  padding-bottom: var(--size-2xl);
  align-items: center;
  background-color: transparent;
}

header a {
  text-decoration: none;
  color: inherit;
}

header a.logo {
  display: flex;
  gap: var(--size-xxxs);
  font-family: 'Outfit', sans-serif;
  font-weight: 900;
  letter-spacing: -1px;
  color: var(--clr-red);
  font-size: 1.8rem;
}

header a.logo svg {
  width: 32px;
}

header a.logo.welcome {
  color: var(--clr-white);
}

header nav {
  display: flex;
  gap: 15px;
  align-items: center;
}

header .account__nav {
  position: relative;
}

.account__nav .account__btn {
  display: flex;
  align-items: center;
  cursor: pointer;
}

header .btn.simple {
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: var(--size-xxxs);
  background-color: transparent;
  color: var(--clr-btn);
}

header .btn.simple:hover {
  color: var(--clr-btn);
  background-color: transparent;
}

header .btn.simple svg {
  width: 15px;
}

/* #endregion */

/* #region dropdowns */

.dropdown {
  top: 48px;
  width: auto;
  display: flex;
  position: absolute;
  flex-direction: column;
  border-radius: 10px;
  padding: 2.5px 0 5px 0;
  /* offset-x | offset-y | blur-radius | color */
  box-shadow: 0px 0px 15px rgb(0,0,0,0.1);
  background-color: var(--clr-white);
}

/* #region notifications */

.notification__bell {
  position: relative;
  width: 40px;
  height: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: background-color .3s;
}

.notification__bell:hover {
  background-color: rgb(35, 39, 42, 0.03);
}

.notification__bell svg.bell {
  width: 25px;
}

.notification__bell .notification__status__dot {
  position: absolute;
  right: 10px;
  top: 6px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--clr-red);
  border: 1px solid var(--clr-white);
}

.dropdown.notification {
  width: 300px;
  z-index: -1;
  top: 48px;
  display: flex;
  position: absolute;
  flex-direction: column;
  border-radius: 10px;
  padding: 0 1px 1px 0px;
  cursor: initial;
  /* offset-x | offset-y | blur-radius | color */
  box-shadow: 0px 0px 15px rgb(0,0,0,0.1);
  background-color: var(--clr-white);
}

.dropdown.notification.open {
  right: -55px;
  opacity: 1;
  animation: notify__appear 0.5s;
}

.dropdown.notification.close {
  right: -100vw;
  opacity: 0;
  animation: notify__disappear 0.5s;
}

.notifications__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top:  0.95rem;
  padding-left: 1.6rem;
  padding-right: 1.6rem;
  padding-bottom: 0.95rem;
}

.dropdown.notification h1 {
  font-size: var(--size-base);
  font-weight: 600;
}

.notifications__header p {
  cursor: pointer;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
  background-color: rgb(35, 39, 42, 0.05);
  transition: background-color 0.3s;
}

.notifications__header p:hover {
  background-color: rgb(35, 39, 42, 0.075);
}

.notifications {
  height: 360px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.notifications p.no {
  margin-top: var(--size-base);
}

/* width */
.notifications::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.notifications::-webkit-scrollbar-track {
  background: var(--clr-white);
  border-bottom-right-radius: 5px;
}

/* Handle */
.notifications::-webkit-scrollbar-thumb {
  background: var(--clr-red);
  border-radius: 10px;
}

/* Handle on hover */
.notifications::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.notifications .notification {
  position: relative;
  display: grid;
  grid-template-columns: 40px 1fr;
  gap: 2.5px;
  padding-left: 1.5rem;
  padding-right: 1rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
  cursor: pointer;
  transition: background-color .3s;
}

.notifications .notification:hover {
  background-color: rgb(35, 39, 42, 0.03);
}

.notifications .notification .notification__status__dot {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: var(--clr-red);
}

.notifications .notification .icon {
  width: 30px;
  height: 30px;
  border-radius: 20px;
  margin-top: .35rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--clr-red);
}

.notifications .notification .icon svg {
  color: var(--clr-white);
  width: 18px;
}

.notifications .notification p {
  font-size: .875rem;
  font-weight: 400;
  line-height: var(--size-xl);
}

.notifications .notification strong {
  font-size: .875rem;
  font-weight: 600;
  color: var(--clr-red);
}

.notifications .notification time {
  font-size: .75rem;
  color: #8e8f96;
}

@keyframes notify__appear{
  from {
      right: -90px;
      opacity: 0;
  }
  to {
      right: -55px;
      opacity: 1;
  }
}
@keyframes notify__disappear{
  from {
    right: -55px;
    opacity: 1;
  }
  to {
      right: -90px;
      opacity: 0;
  }
}

/* #endregion */

/* #region navigation */

.dropdown.open {
  right: 0;
  opacity: 1;
  animation: nav__appear 0.5s;
}

.dropdown.close {
  right: -100vw;
  opacity: 0;
  animation: nav__disappear 0.5s;
}

@keyframes nav__appear{
  from {
      right: -20px;
      opacity: 0;
  }
  to {
      right: 0;
      opacity: 1;
  }
}
@keyframes nav__disappear{
  from {
    right: 0;
    opacity: 1;
  }
  to {
      right: -20px;
      opacity: 0;
  }
}

.profilePic {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:cadetblue;
  border-radius: 20px ;
}

.profilePic img {
  width: 40px;
  height: 40px;
  border-radius: 20px;
}

.letter {
  text-transform: capitalize;
  color: var(--clr-white);
}

.account__nav .dropdown .account__btn {
  display: flex;
  gap: 12px;
  align-items: center;
  cursor: default;
  margin: 5px 15px;
}

.dropdown .profileName {
  font-weight: 600;
  white-space: nowrap;
}

.dropdown .dropdown__anchor {
  display: flex;
  gap: var(--size-xl);
  align-items: center;
  font-weight: 500;
  white-space: nowrap;
  padding: 7px 15px 7px 25px;
}

.dropdown .dropdown__anchor svg {
  width: 20px;
}

.dropdown .dropdown__anchor:hover {
  background-color: rgb(235, 235, 235, 0.6);
}

.userGroup {
  font-size: var(--size-xs);
  line-height: 20px;
}

/* #endregion */

/* #endregion */

@media (min-width: 768px) {
  header nav {
    gap: 30px;
  }
  .dropdown.notification.open {
    right: 0;
    animation: nav__appear 0.5s;
  }
  .dropdown.notification.close {
    animation: nav__disappear 0.5s;
  }
}