/*   #region welcome page   */

main.welcome {
  background-color: var(--clr-red);
}

.welcome__page {
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: var(--size-2xl);
  margin-top: 5rem;
}

.welcome__image img {
  max-width: 100%;
}

.welcome__text {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: var(--size-xxs);
}

.welcome__line__one {
  display: flex;
  gap: var(--size-xxs)
}

.welcome__page h1 {
  display: inline-block;
  color: var(--clr-white);
  position: relative;
  white-space: nowrap;
}

.welcome__page h1:after {
  content: "";
  position: absolute;
  top: 30px;
  left: 0;
  height: 4px;
  width: 100%;
  background-color: var(--clr-underline-yellow);
}

.welcome__page h1.underline {
  display: inline-block;
  color: var(--clr-white);
  position: relative;
}

.welcome__page h1.underline:after {
  content: "";
  position: absolute;
  top: 30px;
  left: 0;
  height: 4px;
  width: 100%;
  background-color: var(--clr-underline-blue);
}

.welcome__page h1.blank:after {
  content: "";
  position: absolute;
  top: 30px;
  left: 0;
  height: 4px;
  width: 100%;
  background-color: transparent;
}

.btn.begin {
  border-radius: 50px;
  margin-top: var(--size-3xl);
  align-self: center;
  padding-left: 40px;
  padding-right: 40px;
  box-shadow: 0 4px 0 var(--clr-underline-blue);
}

.btn.begin:active {
  transform: translateY(4px);
  box-shadow: 0 0px 0 var(--clr-underline-blue);
}

/*   #endregion   */

/*   #region schedule   */

.homepage__wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/*   #region filter   */

.days__wrapper {
  display: flex;
  justify-content: space-between;
}

.day__filter {
  position: relative;
  cursor: pointer;
  font-weight: 600;
  color: var(--clr-grey);
  font-size: var(--size-sm);
  background-color: var(--clr-white);
  border-radius: 10px;
  padding: 10px 10px;
  transition: background-color 0.3s, color 0.3s;
}

.day__filter:hover {
  background-color: rgb(35, 39, 42, 0.03);
}

.day__filter.chosen {
  color: var(--clr-white);
  background-color: var(--clr-red);
}

/*   #endregion   */

/*   #region lessons  */

.lessons__wrapper {
  position: relative;
}

.lessons {
  display: flex;
  flex-direction: column;
  gap: var(--size-base);
  margin-bottom: var(--size-base);
}

.lesson__wrapper {
  display: flex;
  align-items: center;
  gap: var(--size-2xl);
  margin-left: var(--size-xxs);
}

.status__dot {
  height: 20px; 
  min-width: 20px;
  border-radius: 10px;
  position: relative;
  border: 4px solid var(--clr-grey);
  background-color: var(--clr-white);
}

.status__dot::after {
  content: '';
  position: absolute;
  top: 16px;
  left: 4px;
  width: 4px;
  height: 96px;
  background-color: var(--clr-grey);
}

.status__dot.ongoing::after {
  background-color: var(--clr-yellow);
}

.status__dot.finished::after {
  background-color: var(--clr-green);
}

.status__dot.last::after {
  display: none;
}

.status__dot.soon {
  border: 4px solid var(--clr-yellow);
}

.status__dot.ongoing {
  background-color: var(--clr-yellow);
  border: 4px solid var(--clr-yellow);
}

.status__dot.finished {
  background-color: var(--clr-green);
  border: 4px solid var(--clr-green);
}

.lesson {
  width: 100%;
  height: 100px;
  padding: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 10px;
  background-color: var(--clr-white);
  box-shadow: 0 0 20px rgb(222, 222, 222, 0.75);
}

.lesson__preview {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.lesson__preview .name {
  padding-left: 4px;
  display: flex;
  align-items: center;
  gap: 5px;
  background-color: var(--clr-third);
}

.lesson__preview .name .group {
  color: black;
  text-wrap: nowrap;
  font-weight: 800;
}

.lesson__preview .name .subject {
  font-family: 'Outfit', sans-serif;
  font-size: var(--size-xl);
  color: black;
  font-weight: 600;
  padding-left: 15px;
}

.lesson__preview .time {
  text-align: center;
  font-weight: 800;
  color: #DEDEDE;
}

.lesson__info {
  min-height: calc(100vh - 151px);
  width: 100%;
  top: -59px;
  left: 425px;
  border-radius: 10px;
  padding: 15px;
  gap: 15px;
  opacity: 0;

  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--clr-white);
  box-shadow: 0 0 20px rgb(222, 222, 222, 0.75);
  animation: disappear 0.5s;
}

.lesson__info.shown {
  left: 0;
  opacity: 1;
  animation: appear 0.5s;
}

@keyframes appear{
  from {
    left: 20px;
    opacity: 0;
  }
  to {
    left: 0;
    opacity: 1;
  }
}
@keyframes disappear{
  from {
    left: 0;
    opacity: 1;
  }
  to {
    left: 20px;
    opacity: 0;
  }
}

.lesson__info .absolute__buttons {
  position: absolute;
  display: flex;
  gap: var(--size-base);
  right: 15px;
  z-index: 1;
}

.lesson__info .image {
  position: absolute;
  display: flex;
  align-items: end;
  width: 100%;
  height: 150px;
  top: 0;
  left: 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: var(--clr-red);
  color: var(--clr-white);
  padding: 15px;
}

.lesson__info .info {
  padding-top: 145px;
  gap: var(--size-xs);

  display: flex;
  flex-direction: column;
}

.lesson__info h1 {
  font-size: var(--size-4xl);
  line-height: 32px;
}

.lesson__info p {
  font-size: var(--size-lg);
  font-weight: 500;

  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.lesson__info p.links {
  display: flex;
  align-items: center;
  gap: var(--size-base);
}

.lesson__info .buttons .btn .dot{
  background-color: var(--clr-grey);
  border-radius: 50%;
  height: 15px;
  width: 15px;
  margin-right: var(--size-xxs);
}

.lesson__info .buttons .btn .dot.green {
  background-color: var(--clr-green);
}

.lesson__info .buttons {
  display: flex;
  justify-content: space-between;
}

.no__lesson__info {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.no__lesson__info p {
  color: var(--clr-border);
  font-weight: 700;
  text-align: center;
}

.lesson__info button.btn.close.desktop {
  display: none;
}


/*   #endregion  */

/*   #endregion   */

/*   #region weekend    */

.weekend__wrapper {
  height: calc(100vh - 179px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--size-base);
}

.weekend {
  font-size: var(--size-xl);
  text-align: center;
  color: black;
  opacity: 0.25;
}

.weekend__hw {
  text-align: center;
}

/*   #endregion    */

/*   #region queries    */

@media (min-width: 425px) {

}

@media (min-width: 768px) {
  .welcome__page {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--size-2xl);
  }
  .welcome__image {
    position: relative;
    width: 100%;
    height: 100%;
    order: 2;
  }
  .welcome__image img {
    max-width: none;
    position: absolute;
    bottom: -286px;
    right: -300px;
    width: 900px;
  }
  .btn.begin {
    align-self: self-start;
    margin-left: var(--size-7xl);
  }
  .days__wrapper {
    display: flex;
    gap: 10px;
    justify-content: center;
  }
  .day__filter {
    padding: 8px 10px;
    border-radius: 5px;
  }
  .lesson__preview .name .subject {
    font-size: var(--size-lg);
  }



  .homepage__wrapper {
    gap: 15px;
  }
  .lessons__wrapper {
    position: relative;
    display: grid;
    gap: 15px;
    grid-template-columns: 360px 1fr;
    margin-bottom: var(--size-base);
  }
  .lessons {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--size-base);
    margin-bottom: 0;
  }
  .lesson {
    border-radius: 5px;
  }
  .lesson__info {
    top: 0;
    left: 0;
    border-radius: 5px;
    opacity: 1;
  
    position: relative;
    animation: none;
  }
  .lesson__info.shown {
    left: 0;
    animation: none;
  }
  .lesson__info button.btn.close {
    display: none;
  }
  .lesson__info button.btn.close.desktop {
    display: flex;
  }
  .lesson__info .image {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
}

@media (min-width: 1024px) {
  .welcome__page {
    margin-top: 10rem;
  }
  .welcome__page h1 {
    font-size: var(--size-4xl);
  }
  .welcome__page h1:after {
    top: 45px;
  }  
  .welcome__page h1.underline:after {
    top: 45px;
  }
  .welcome__page h1.blank:after {
    top: 45px;
  }
}

@media (min-width: 1280px) {

}

@media (min-width: 1440px) {

}

/*   #endregion    */