.login__page__wrapper , .registration__page__wrapper, .recovery__page__wrapper {
    display: flex;
    align-items: center;
    height: calc(100vh - 182px);
    justify-content: center;
}

form.login, form.register {
    width: 250px;
}

.login__inputs, .register__inputs {
    display: flex;
    flex-direction: column;
    gap: var(--size-xxs);
}

.name__input__wrapper {
    display: flex;
    gap: var(--size-xxs);
}

form.password__recovery {
    max-width: 500px;
}

.login h1, .register h1, .password__recovery h1{
    color: var(--clr-white);
    text-align: center;
    margin-bottom: var(--size-xl);
}

.password__recovery p {
    color: var(--clr-white);
    margin-bottom: var(--size-xxs);
}

.password__recovery .red__asterisk {
    color: var(--clr-white);
    font-size: var(--size-base);
}

.btn.login-register-btn {
    width: 100%;
    margin-top: var(--size-base);
}

.registration, .logging-in{
    display: flex;
    align-items: center;
    margin-top: var(--size-xs);
    gap: var(--size-base);
    justify-content: center;
}

.forgot__password {
    display: flex;
    align-items: center;
    margin-top: var(--size-xxs);
    gap: var(--size-base);
    justify-content: center;
}

.logging-in p, .registration p{
    color: var(--clr-white);
    font-size: 0.8rem;
}

.login__link, .register__link, .forgot__password__link{
    color: var(--clr-white);
    font-size: 0.8rem;
    text-decoration: underline;
    transition: all 0.2s;
}

.login__link:hover, .register__link:hover, .forgot__password__link:hover{
    color: var(--clr-btn-blue);
}

input.error, select.error {
    border: 1px solid rgb(255, 0, 0); 
    background-color: rgb(255, 135, 122);
}

@media (min-width: 425px) {

}

@media (min-width: 768px) {
    form.login, form.register {
        width: 300px;
    }

    form.password__recovery {
        width: 500px;
    }
}

@media (min-width: 1024px) {

}

@media (min-width: 1280px) {

}

@media (min-width: 1440px) {

}